
body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
}

.profile {
    display: flex;
}

.profile-image {
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.profile-stat-count {
    text-align: center;
}

.profile-real-name {
    font-size: 13px;
    margin-top: 20px;
}

.profile-user-name {
    font-size: 16px;
}

.profile-edit-btn {
    margin-top: 26px;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    border: 1px white solid;
    border-radius: 4px;
    padding: 4px;
}

.btn-plus {
    width: 20px;
    height: 20px;
    background-color: rgb(26, 26, 252);
    border-radius: 100%;
    position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 2;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.gallery img {
    width: 130px;
    height: 130px;
    margin: 2px;
}